.centerForm{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.h1Titlo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0px;
    font-size: 1.6rem;
    font-weight: 700;
}
    .container {
            display: flex;
            flex-direction: column;
        }

        .linha {
            display: flex;
            align-items: center;
        }

        .linha input, .linha select, .linha button {
            margin-right: 10px;
        }

        .escondido {
            display: none;
        }

        .titulo {
            font-weight: bold;
            margin-bottom: 5px;
            word-spacing: 100px;

        }

        .botao {
            margin: 5px;
        }
    h5{
      color: #841109;
    }
    h3 {

      margin: 15px 0;
      font-weight: 400;
      font-size: 20px;
    }
    .testbox {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
    form {
      width: 90%;
      padding: 20px;
      background: #fff;
      box-shadow: 0 2px 5px #ccc; 
    }
    input, select, textarea {
      width: 100%;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 5px;
    }
    .item {
      position: relative;
      margin: 10px 0;
    }
    button {
      width: 100%;
      padding: 10px;
      border: none;      
      background-color: #095484;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      border-radius: 5px;
    }
    button:hover {
      background-color: #0666a3;
    }
    .input-group {
      margin-bottom: 10px;
    }
    .input-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .input-group > input, .input-group > button {
      flex: 1; /* Distribui o espaço igualmente */
      margin-right: 10px; /* Espaço entre os campos e o botão */
    }
    .input-group > button {
      margin-left: 0; /* Remover margem à esquerda do botão */
      max-width: 120px; /* Largura máxima para o botão */
    }
    .input-group:last-child {
      margin-right: 0; /* Remover margem à direita do último item */
    }

    /* Estilos para telas menores */
    @media (max-width: 768px) {
      .input-group {
        flex-direction: column;
      }
      .input-group > input, .input-group > button {
        margin-right: 0; /* Remover margem à direita para telas menores */
        margin-bottom: 10px; /* Adiciona espaço abaixo dos campos em telas menores */
      }
      .input-group > button {
        width: auto; /* Auto ajuste da largura do botão em telas menores */
      }
    }
